body {
  font-family: Courier;
  font-size: 15px;
  margin: 0;
  padding: 0;
  border: 10px solid #f1f1f1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  padding: 20px;
}

table {
  border-collapse: collapse;
  border: 1px solid #ddd;
}

tr:nth-child(odd) {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHUlEQVQYV2NkgIK3b9/+ZwSxQQxhYWFGRhgDJAgA4hULytmCFnsAAAAASUVORK5CYII=);
}

tr:first-child {
  background: none;
}

th {
  padding-right: 5px;
  text-align: right;
}

th:first-child {
  border-right: 1px solid #f1f1f1;
}

th:nth-child(3) {
  padding-right: 40px;
  border-right: 1px solid #f1f1f1;
}

td {
  font-style: italic;
  color: #666;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 3px 5px 3px 40px;
  text-align: right;
}

td:first-child {
  border-color: #f1f1f1;
  border-right: 1px solid #ddd;
  background: white;
}

td:nth-child(3) {
  padding-right: 40px;
}

td:last-child {
  padding-right: 40px;
  border-color: #f1f1f1;
  border-left: 1px solid #ddd;
  background: white;
}

tfoot td {
  border-bottom: none;
  color: black;
  font-weight: bold;
}

tfoot td:last-child {
  border-color: #f1f1f1;
}

tfoot td:first-child {
  border-color: #f1f1f1;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f1f1f1;
  padding: 10px;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.pagination li.active span {
  font-weight: bold;
}

.atualizar-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.atualizar-button button {
  font-family: Courier;
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.atualizar-button button:hover {
  background-color: #0056b3;
}
