body {
  font-family: Courier;
  font-size: 15px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 90vw;
}

table {
  border-collapse: collapse;
  border: 1px solid #ddd; /* Adiciona borda à tabela */
}

tr:nth-child(odd) {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHUlEQVQYV2NkgIK3b9/+ZwSxQQxhYWFGRhgDJAgA4hULytmCFnsAAAAASUVORK5CYII=);
}

tr:first-child {
  background: none;
}

th {
  padding-right: 5px;
  text-align: right;
}

th:first-child {
  border-right: 1px solid #f1f1f1;
}

th:nth-child(3) {
  padding-right: 40px;
  border-right: 1px solid #f1f1f1;
}

td {
  font-style: italic;
  color: #666;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 3px 5px 3px 40px;
  text-align: right;
}

td:first-child {
  border-color: #f1f1f1;
  border-right: 1px solid #ddd;
  background: white;
}

td:nth-child(3) {
  padding-right: 40px;
}

td:last-child {
  padding-right: 40px;
  border-color: #f1f1f1;
  border-left: 1px solid #ddd;
  background: white;
}

tfoot td {
  border-bottom: none;
  color: black;
  font-weight: bold;
}

tfoot td:last-child {
  border-color: #f1f1f1;
}

tfoot td:first-child {
  border-color: #f1f1f1;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.pagination li.active span {
  font-weight: bold;
}
